@charset "UTF-8";

:root {
    --fonte-principal: 'Open Sans', 'Roboto', 'Maven Pro', sans-serif;
    --fonte-titulo: 'Sacramento', 'Dancing Script', 'Indie Flower', cursive;

    --preto-fundo: #363031;
    --branco-fundo: #DEDEDE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--branco-fundo);
}


/* HEADER */
header {
    background-color: var(--preto-fundo);
    color: var(--branco-fundo);
    margin-bottom: 64px;
}

header > h1 {
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 3em;
    text-decoration: underline;
    padding: 30px;
}


/* MAIN */
main section > h2 {
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    color: var(--preto-fundo);
}

main > section {
    margin-bottom: 64px;
}

main section  p {
    font-family: var(--fonte-principal);
    text-align: justify;
    text-indent: 30px;
    padding: 0px 20px;
}


/* MAIN CARTÕES */
main > section#cartoes > div.cartoes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

main > section#cartoes > div.cartoes-container > img {
    width: 70%;
    margin-bottom: 10px;
}


/* MAIN AVALIADORES */
main > section#avaliacoes > div.avaliador {
    display: flex;

    border: 1px solid black;
    width: 90%;
    margin: auto;
}

main > section#avaliacoes > div.avaliador > img {
    width: 20%;
}

main > section#avaliacoes > div.avaliador > div.avaliador-status-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

main > section#avaliacoes > div.avaliador > div.avaliador-status-container > div.avaliacao-container > img {
    width: 5%;
}