@charset "UTF-8";

:root {
    --fonte-principal: 'Open Sans', 'Roboto', 'Maven Pro', sans-serif;
    --fonte-titulo: 'Sacramento', 'Dancing Script', 'Indie Flower', cursive;

    --preto-fundo: #363031;
    --branco-fundo: #DEDEDE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--branco-fundo);
}


/* HEADER */
header {
    background-color: var(--preto-fundo);
    color: var(--branco-fundo);
    margin-bottom: 64px;
}

header > h1 {
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 3em;
    text-decoration: underline;
    padding: 30px;
}


/* MAIN */
main section > h2 {
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    color: var(--preto-fundo);
}

main > section {
    margin-bottom: 64px;
}

main section  p {
    font-family: var(--fonte-principal);
    text-align: justify;
    text-indent: 30px;
    padding: 0px 20px;
}


/* MAIN CARTÕES */
main > section#cartoes > div.cartoes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

main > section#cartoes > div.cartoes-container > img {
    width: 70%;
    margin-bottom: 10px;
    box-shadow: 7px 5px 8px 1px rgba(0, 0, 0, 0.514);
}


/* MAIN AVALIADORES */
main > section#avaliacoes > div.avaliador {
    display: flex;

    border: 3px solid var(--preto-fundo);
    border-radius: 7px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;

    box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.514);
}

main > section#avaliacoes > div.avaliador > img {
    width: 20%;
}

main > section#avaliacoes > div.avaliador > div.avaliador-status-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

main > section#avaliacoes > div.avaliador > div.avaliador-status-container > div.avaliacao-container {
    display: flex;
    justify-content: center;
}

main > section#avaliacoes > div.avaliador > div.avaliador-status-container > div.avaliacao-container > img {
    width: 6%;
    margin-left: 10px;
}

main > section#avaliacoes > div.avaliador > div.avaliador-status-container > p {
    font-size: 0.8em;
}


/* CONTATOS */
main > section#contatos > div#contatos-container > div.contato-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

main > section#contatos > div#contatos-container > div.contato-container > img {
    width: 15%;
}

main > section#contatos > div#contatos-container > div.contato-container > p {
    padding-left: 0;
}

main > section#contatos > div#contatos-container > div.contato-container > p > a {
    text-decoration: none;
    color: black;
}

main > section#contatos > div#contatos-container > div.contato-container > p > a:hover {
    text-decoration: underline;
    font-weight: bold;
}